<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h3>Welcome to InventarioApp</h3>
    </div>


    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Descripción del producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Existencias</th>
                <th scope="col" class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            @for(producto of products; track producto.id){
            <tr>
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.existencia}}</td>
                <td class="text-center">
                    <div>
                        <button class="btn btn-warning btn-sm me-3"
                            (click)="editarProducto(producto.id)">Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteProduct(producto.id)">Eliminar</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>